{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Blog Grid</h3>
          </div>
          <ul>
            <li class="home-bread">Home</li>
            <li>Blog Grid</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!--Blog Area Start-->
{% if blogs is not None %}
<div class="blog-area fix bg-color area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h3>TIN TỨC MỚI NHẤT</h3>
          <p>Công nghệ mới, phát triển mới</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog-grid home-blog">
        <!-- Start single blog -->

        {% for blog in blogs %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="blog-container">

            <div class="single-blog">
              <div class="blog-image">
                <a class="image-scale" href="#">
                  <img src="{{ blog.images.first }}" alt="">
                </a>
              </div>
              <div class="blog-content">
                <div> <a href="{% url 'blog_detail' blog.id %}">
                    <h4>{{ blog.title }}</h4>
                  </a></div>

                <div class="blog-meta">
                  <span class="admin-type">
                    <i class="fa fa-user"></i>
                    Admin
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>
                    {{blog.created_at}}
                  </span>
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    32
                  </span>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- End single blog -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{%endblock%}