{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Blogs</h3>
          </div>
          <ul>
            <li class="home-bread">Home</li>
            <li>Blogs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!--Blog Area Start-->
<div class="blog-area fix area-padding">
  <div class="container">
    <div class="row">
      <div class="blog-sidebar-right">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="blog-left-content">
              <!-- Start single blog -->
              {% if blogs is not None %}
              {% for blog in blogs %}
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog row">
                  <div class="blog-image col-md-3">
                    <a class="image-scale" href="#">
                      <img src="{{ blog.images.first }}" alt="" width="50" height="50" />
                    </a>
                  </div>
                  <div class="col-md-9 my-2">
                    <div class="blog-meta">
                      <span class="admin-type my-2">
                        <i class="fa fa-user"></i>
                        Admin
                      </span>
                      <span class="date-type">
                        <i class="fa fa-calendar"></i>
                        {{blog.created_at}}
                      </span>
                      <span class="comments-type">
                        <i class="fa fa-comment-o"></i>
                        13
                      </span>
                    </div>
                  </div>
                  <div class="blog-content">
                    <a href="#">
                      <h4>{{ blog.title }}</h4>
                    </a>
                    <p>
                      {{ blog.quote }}
                    </p>
                    <a class="blog-btn" href="{% url 'blog_detail' blog.id %}"> Read more</a>
                  </div>
                </div>
              </div>
              {% endfor %}

              {% endif %}
              <!-- End single blog -->
              <!-- Start single blog -->
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-pagination">
                  <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start Right Sidebar blog -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="left-head-blog right-side">
            <div class="left-blog-page">
              <!-- search option start -->
              <form action="{% url 'search' %}" method="get">
                <div class="blog-search-option">
                  <input type="text" name="search" placeholder="Search..." />
                  <button class="button" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="left-blog-page">
              <div class="left-blog blog-category">
                <h4>categories</h4>
                <ul>
                  {% for cate in category %}
                  <li><a href="#">{{cate.title}}</a><span>12</span></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="left-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>recent post</h4>
                <div class="recent-post">
                  <!-- start single post -->
                  {% for blog in recent %}
                  <div class="recent-single-post">
                    <div class="post-img py-2">
                      <img src="{{ blog.images.first }}" alt="" style="width:100% !important;" />
                    </div>
                    <div class="pst-content">
                      <p>
                        {{blog.title}}
                      </p>
                      <span class="date-type">
                        {{blog.created_at}}
                      </span>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="left-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
                    {% for cate in category %}
                    <li><a href="#">{{cate.title}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Right Sidebar -->
    </div>
    <!-- End row -->
  </div>
</div>
<!--End of Blog Area-->
{%endblock%}