<!-- Start Footer Area -->
{% load static %}
<footer class="footer1">
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="footer-content logo-footer">
            <div class="footer-head">
              <div class="footer-logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt="" /></a>
              </div>
              <p class="text-justify">
                Visitek là một nhà cung cấp dịch vụ Công nghệ thông tin, chúng
                tôi tập trung cung cấp các giải pháp CNTT cho các doanh nghiệp
                vừa và nhỏ tại Việt Nam. Công việc của chúng tôi là cung cấp các
                giải pháp CNTT chất lượng cao, duy trì và bảo vệ cơ sở hạ tầng
                IT của các doanh nghiệp vừa và nhỏ.
              </p>
              <div class="subs-feilds">
                <div class="suscribe-input">
                  <input type="email" class="email form-control width-80" id="sus_email" placeholder="Nhập Email" />
                  <button type="submit" id="sus_submit" class="add-btn">
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-3 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Dịch vụ</h4>
              <ul class="footer-list">
                <li><a href="{% url 'detail_service' %}">Thiết kế sản phẩm</a></li>
                <li>
                  <a href="{% url 'service_detail_manage' %}">Quản trị hệ thống </a>
                </li>
                <li>
                  <a href="{% url 'service_detail_security' %}">Bảo mật hệ thống</a>
                </li>
                <li>
                  <a href="{% url 'service_detail_repair' %}">Bảo trì hệ thống </a>
                </li>
              </ul>
              <ul class="footer-list hidden-sm">
                <li>
                  <a href="{% url 'service_detail_outsource' %}">Dịch vụ IT OUTSOURCE</a>
                </li>
                <li>
                  <a href="{% url 'service_detail_consult' %}">Tư vấn và triển khai hệ thống</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="footer-content last-content">
            <div class="footer-head">
              <h4>Liên hệ</h4>
              <div class="footer-contacts">
                <p>
                  <span>Địa chỉ :</span>86 đường số 7 , phường 7 , khu Cityland
                  Center Hills , Gò Vấp , TP HCM
                </p>
                <p><span>Tel :</span> 0584243459</p>
                <p><span>Email :</span> Visitekvn@gmail.com</p>
              </div>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer Bottom Area -->
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright">
            <p>
              Copyright © 2020
              <a href="#">Visitek</a> All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom Area -->
</footer>
<!-- End Footer Area -->