<!-- Start Footer Area -->
{% load static %}
<footer class="footer1">
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="footer-content logo-footer">
            <div class="footer-head">
              <div class="footer-logo">
                <a href="#"><img src="{% static 'img/logo/logo1.png' %}" alt="Visitek logo "></a>
              </div>
              <p>
                Visitek là một nhà cung cấp dịch vụ Công nghệ thông tin, chúng tôi tập trung cung
                cấp các giải pháp CNTT cho các doanh nghiệp vừa và nhỏ tại Việt Nam. Công việc của
                chúng tôi là cung cấp các giải pháp CNTT chất lượng cao, duy trì và bảo vệ cơ sở hạ
                tầng IT của các doanh nghiệp vừa và nhỏ.
              </p>
              <div class="subs-feilds">
                <div class="suscribe-input">
                  <input type="email" class="email form-control width-80" id="sus_email" placeholder="Nhập Email">
                  <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-3 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Dịch vụ</h4>
              <ul class="footer-list">
                <li><a title="Dịch vụ thiết kế sản phẩm" href="/service-details">Thiết kế sản
                    phẩm</a></li>
                <li><a title="Quản trị hệ thống" href="/service-detail-manage">Quản trị hệ thống
                  </a></li>
                <li><a title="Dịch vụ bảo mật hệ thống" href="/service-detail-security">Bảo mật
                    hệ thống</a></li>
                <li><a title="Dịch vụ bảo trì hệ thống" href="/service-detail-repair">Bảo trì hệ
                    thống </a></li>
              </ul>
              <ul class="footer-list hidden-sm">
                <li><a title="Dịch vụ IT OUTSOURCE" href="/service-detail-outsource">Dịch vụ IT
                    OUTSOURCE</a></li>
                <li><a title="Dịch vụ tư vấn và triển khai hệ thống" href="/service-detail-consult">Tư vấn và triển
                    khai hệ thống</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="footer-content last-content">
            <div class="footer-head">
              <h4>Liên hệ</h4>
              <div class="footer-contacts">
                <p><span>Địa chỉ :</span>86 đường số 7 , phường 7 , khu Cityland Center Hills , Gò
                  Vấp , TP HCM</p>
                <p><span>Tel :</span> 0567055912</p>
                <p><span>Email :</span> Visitekvn@gmail.com</p>
              </div>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a title="Visitek Facebook" target="blank"
                      href="https://www.facebook.com/Visitek-Co-Ltd-105792077700159/">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Visitek Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Visitek Google">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Visitek Pinterest">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Visitek Instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Footer Bottom Area -->
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright">
            <p>
              Copyright © 2020
              <a title="Công ty Visitek 2020" href="/">Visitek</a> All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Bottom Area -->
</footer>