<div class="topbar-area fix hidden-xs">
  <div class="container">
    <div class="row">
      <div class=" col-md-9 col-sm-9">
        <div class="topbar-left">
          <ul>
            <li><a href="#" title="Visitek Gmail"><i class="fa fa-envelope"></i>
                Visitekvn@gmail.com</a></li>
            <li><a href="#" title="Visitek số điện thoại"><i class="fa fa-phone-square"></i>
                0567055912</a>
            </li>
            <li><a href="#" title="Visitek thời gian làm việc"><i class="fa fa-clock-o"></i> Mon -
                Fri:
                9:00 - 18:00</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="top-social">
          <ul>
            <li><a href="#" title="Visitek Skype App"><i class="fa fa-skype"></i></a></li>
            <li><a href="#" title="Visitek Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a title=" Visitek Facebook" target="blank"
                href="https://www.facebook.com/Visitek-Co-Ltd-105792077700159/"><i class="fa fa-facebook"></i></a></li>
            <li><a title="Visitek Google" href="#"><i class="fa fa-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>