<!-- Start top bar -->
<div class="topbar-area fix hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <div class="topbar-left">
          <ul>
            <li>
              <a href="#"><i class="fa fa-envelope"></i> Visitekvn@gmail.com</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-phone-square"></i> 0584243459</a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-clock-o"></i> Mon - Fri: 9:00 - 18:00</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="top-social">
          <ul>
            <li>
              <a href="#"><i class="fa fa-skype"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
