<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="page-head-left">
    <!-- strat single area -->
    <div class="single-page-head">
      <div class="left-menu">
        <ul>
          {% if status == 'detail_service' %}
          <li class="active">
            <a href="{% url 'detail_service' %}">Thiết kế sản phẩm </a>
          </li>
          {% else %}
          <li><a href="{% url 'detail_service' %}">Thiết kế sản phẩm </a></li>
          {% endif %} {% if status == 'service_detail_security' %}
          <li class="active">
            <a href="{% url 'service_detail_security' %}">Bảo mật hệ thống</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'service_detail_security' %}">Bảo mật hệ thống</a>
          </li>
          {% endif %} {% if status == 'service_detail_manage' %}
          <li class="active">
            <a href="{% url 'service_detail_manage' %}">Quản trị hệ thống</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'service_detail_manage' %}">Quản trị hệ thống</a>
          </li>
          {% endif%} {% if status == 'service_detail_consult' %}
          <li class="active">
            <a href="{% url 'service_detail_consult' %}">Tư vấn và triển khai hệ thống</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'service_detail_consult' %}">Tư vấn và triển khai hệ thống</a>
          </li>
          {% endif %} {% if status == 'service_detail_outsource' %}
          <li class="active">
            <a href="{% url 'service_detail_outsource' %}">Dịch vụ IT OutSource</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'service_detail_outsource' %}">Dịch vụ IT OUTSOURCE</a>
          </li>
          {% endif %} {% if status == 'service_detail_repair' %}
          <li class="active">
            <a href="{% url 'service_detail_repair' %}">Bảo trì hệ thống</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'service_detail_repair' %}">Bảo trì hệ thống</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- strat single area -->

  </div>
</div>