{% load static %}
<div id="sticker" class="header-area header-area-3 hidden-xs">
  <div class="container">
    <div class="row">
      <!-- logo start -->
      <div class="col-md-3 col-sm-3">
        <div class="logo">
          <!-- Brand -->
          <a title="Visitek Logo" class="navbar-brand page-scroll white-logo" href="/">
            <img style="width: 100%; height: auto;" src="{% static 'img/logo/logo.png' %}" alt="Visitek Logo Page">
          </a>
          <a title="Visitek Logo" class="navbar-brand page-scroll black-logo" href="/">
            <img style="width: 100%; height: auto;" src="{% static 'img/logo/logo1.png' %}" alt="Visitek Logo Page">
          </a>
        </div>
        <!-- logo end -->
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="header-right-link">
          <!-- search option start -->
          <div class="dropdown show" style="display: inline-block; float: left;">
            <a title="Visitek tìm kiếm" class="btn btn-secondary dropdown-toggle" href="#" role="button"
              id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-search" style="font-size: 2rem;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink">
              <form action="{% url 'search' %}" class="dropdown-items">
                <input type="text" name="search" placeholder="Tìm kiếm tin tức..." class="input-search" />
                <button class="btn-search" type="submit">
                  <i class="fa fa-search"></i></button>
              </form>
            </div>

          </div>
          <a title="Visitek tư vấn" type="button" id="openModal" class="s-menu my-5" data-backdrop="false"
            data-toggle="modal" data-target="#myModal">Tư vấn</a>
          <!-- Start Left contact -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h4 style="text-align: center;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  Để lại lời nhắn
                </h4>
                <form id="contactForm3" method="POST" action='/contact/new/' class="contact-form">
                  {% csrf_token %}
                  <div class="col-md-6 col-sm-6 col-xs-6 m-2">
                    <input type="text" name="name" class="form-control" placeholder="Nhập tên" required
                      data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" class="email form-control" name="phone" placeholder="Số điện thoại" required
                      data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="email" class="form-control" placeholder="example@gmail.com" required
                      data-error="Please enter your message subject">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="subject" class="form-control" placeholder="Tiêu đề" required
                      data-error="Please enter your message subject">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <textarea name="message" rows="7" placeholder="Nội dung" class="form-control" required
                      data-error="Write your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                      <button style="margin-bottom: 5px;" type="submit" name="submit1111"
                        class="add-btn contact-btn">Gửi tin
                        nhắn</button>
                      <div id="msgSubmit111" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- mainmenu start -->
        <nav class="navbar navbar-default">
          <div class="collapse navbar-collapse" id="navbar-example">
            <div class="main-menu" id="croll-menu">
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a title="Visitek trang chủ" href="/">Trang chủ</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'about' %}activate{% endif %}"><a title=" Visitek giới
                  thiệu" href="/about">Giới thiệu</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'services' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'detail_service' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'service_detail_consult' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'service_detail_manage' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'service_detail_outsource' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'service_detail_repair' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'service_detail_security' %}activate{% endif %}
                ">
                  <a title="Visitek dịch vụ" href="/services">Dịch vụ</a>
                  <ul class="sub-menu">
                    <li><a title="Visitek dịch vụ thiết kế sản phẩm" href="/service-details">Thiết Kế Sản Phẩm</a>
                    </li>
                    <li><a title="Visitek dịch vụ bảo mật hệ thống" href="/service-detail-security">Bảo Mật Hệ
                        Thống</a></li>
                    <li><a title="Visitek dịch vụ quản trị hệ thống" href="/service-detail-manage">Quản Trị Hệ
                        Thống</a></li>
                    <li><a title="Visitek dịch vụ triển khai hệ thống" href="/service-detail-consult">Triển Khai Hệ
                        Thống</a>
                    </li>
                    <li><a title="Visitek dịch vụ IT OUTSOURCE" href="/service-detail-outsource">IT OutSource</a>
                    </li>
                    <li><a title="Visitek dịch vụ bảo trì hệ thống" href="/service-detail-repair">Bảo Trì Hệ
                        Thống</a></li>
                  </ul>
                </li>
                <li class="{% if request.resolver_match.url_name == 'blogs' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'blog_detail' %}activate{% endif %}
                {% if request.resolver_match.url_name == 'filter_category' %}activate{% endif %}
                "><a title="Visitek bài viết" href="/blogs">Blog</a></li>
                <li class="{% if request.resolver_match.url_name == 'contact' %}activate{% endif %}"><a
                    title="Visitek Liên hệ" href="/contact">Liên Hệ</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- mainmenu end -->
      </div>
    </div>
  </div>
</div>
<!-- header-area end -->
<!-- mobile-menu-area start -->
<div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mobile-menu">
          <div class="logo">
            <a title="Visitek logo mobile" href="/"><img src="{% static 'img/logo/logo1.png' %}"
                alt="Visitek logo mobile" /></a>
          </div>
          <nav id="dropdown">
            <ul class="nav navbar-nav navbar-right">
              <li><a title="Visitek trang chủ mobile" href="/">Trang chủ</a>
              </li>
              <li><a title="Visitek giới thiệu mobile" href="/about">Giới thiệu</a>
              </li>
              <li><a title="Visitek dịch vụ mobile" href="/services">Dịch vụ</a>
                <ul class="sub-menu">
                  <li><a title="Visitek dịch vụ thiết kế sản phẩm mobile" href="/service-details">Thiết Kế Sản
                      Phẩm</a></li>
                  <li><a title="Visitek dịch vụ bảo mật hệ thống mobile" href="/service-detail-security">Bảo Mật Hệ
                      Thống</a></li>
                  <li><a title="Visitek dịch vụ quản trị hệ thống mobile" href="/service-detail-manage">Quản Trị Hệ
                      Thống</a></li>
                  <li><a title="Visitek dịch vụ triển khai hệ thống mobile" href="/service-detail-consult">Triển
                      Khai Hệ
                      Thống</a>
                  </li>
                  <li><a title="Visitek dịch vụ IT OUTSOURCE  mobile" href="/service-detail-outsource"> IT
                      OUTSOURCE</a>
                  </li>
                  <li><a title="Visitek dịch vụ bảo trì hệ thống mobile" href="/service-detail-repair">Bảo Trì Hệ
                      Thống</a></li>
                </ul>
              </li>
              <li><a title="Visitek bài viết" href="/blogs">Blog</a></li>
              <li><a title="Visitek Liên hệ mobile" href="/contact">Liên Hệ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mobile-menu-area end -->