{% extends 'base.html' %} {% load static %} {% block content%}

<div class="page-area-about">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Giới thiệu</h3>
          </div>
          <ul>
            <li class="home-bread">Trang chủ</li>
            <li>Giới thiệu</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- Welcome service area start -->
<div class="welcome-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="all-wel-services">
          <!-- single-well end-->
          <div class="well-services wow fadeInUp" data-wow-delay="0.3s">
            <div class="services-img">
              <a title="Ý tưởng đột phá" class="big-icon" href="#"><i class="flaticon-052-project-plan"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Ý tưởng đột phá</h4>
                <!-- <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p> -->

              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="well-services wow fadeInUp" data-wow-delay="0.7s">
            <div class="services-img">
              <a title="Nghiên cứu thị trường" class="big-icon" href="#"><i class="flaticon-002-analysis"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Nghiên cứu thị trường</h4>
                <!-- <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p> -->

              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="well-services wow fadeInUp" data-wow-delay="0.5s">
            <div class="services-img">
              <a title="Đội ngũ sáng tạo" class="big-icon" href="#"><i class="flaticon-060-team-work"></i></a>
            </div>
            <div class="main-wel">
              <div class="wel-content">
                <h4>Đội ngũ sáng tạo</h4>
                <!-- <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
-->

              </div>
            </div>
          </div>
          <!-- single-well end-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Welcome service area End -->
<!-- about-area start -->
<div class="container-full">
  <div class="row">
    <div class="col-md-5 col-sm-4 col-xs-12">
      <!-- <div class="about-area area-padding about-2 fix"> -->
      <div class="about-image">
        <img src="{% static 'img/home/homeConsult.png' %}" alt="Hình ảnh banner của chúng tôi">

      </div>
      <!-- </div> -->
    </div>
    <!-- column end -->
    <div class="col-md-7 col-sm-8 col-xs-12">
      <div class="support-all about-content">
        <div class="section-headline right-headline white-headline">
          <h3>Hãy để chúng tôi làm <span class="color">hài lòng</span> bạn bằng những gì chúng tôi đang có
          </h3>
        </div>

        <div class="about-company">
          <div class="single-about">
            <span class="about-text">Đội ngũ chuyên nghiệp</span>
            <span class="about-text">Thanh toán bảo mật</span>
            <span class="about-text">Hỗ trợ trực tuyến</span>
          </div>
          <div class="single-about">
            <span class="about-text">Định hướng rõ ràng</span>
            <span class="about-text">Dịch vụ quốc tế</span>
            <span class="about-text">Chính sách Marketing</span>
          </div>
        </div>
      </div>
    </div>
    <!-- column end -->
  </div>
</div>
</div>
<!-- about-area end -->
<!-- Start Counter area -->
<div class="counter-area fix ">
  <div class="section-headline-w4 text-center mb-2">

  </div>
  <div class="container">
    <div class="row" style="padding-top: 20px;">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="counter-image">
          <div class="rotmate-image rotateme">
            <img src="{% static 'img/home/home5.png' %}" alt="Hình ảnh banner công ty Visitek">
          </div>
          <div class="top-img">
            <img src="{% static 'img/home/name.png' %}" alt="Hình ảnh banner công ty Visitek">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="fun-text-all">
          <!-- single counter  -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="fun_text wow fadeInUp" data-wow-delay="0.2s">
              <span title="Tổng dự án Visitek đã làm" class="counter-icon"><i class="ti-layers"></i></span>
              <span title="Tổng dự án Visitek đã làm" class="counter">30</span>
              <h4 title="Tổng dự án Visitek đã làm">Total projects</h4>
            </div>
          </div>
          <!-- single counter  -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="fun_text wow fadeInUp" data-wow-delay="0.3s">
              <span title="Tổng dự án Visitek đã làm" class="counter-icon"><i class="ti-world"></i></span>
              <span title="Tổng dự án Visitek đã làm" class="counter">10</span>
              <h4 title="Tổng dự án Visitek đã làm">Worldwide</h4>
            </div>
          </div>
          <!-- single counter  -->
          <div class="award">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="fun_text wow fadeInUp" data-wow-delay="0.4s">
                <span title="Tổng giải thưởng Visitek" class="counter-icon"><i class="ti-cup"></i></span>
                <span title="Tổng giải thưởng Visitek" class="counter">2</span>
                <h4 title="Tổng giải thưởng Visitek">Awards win</h4>
              </div>
            </div>
          </div>
          <!-- single counter  -->
          <div class="team">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="fun_text wow fadeInUp" data-wow-delay="0.5s">
                <span title="Tổng thành viên ở đội ngũ Visitek" class="counter-icon"><i class="ti-user"></i></span>
                <span title="Tổng thành viên ở đội ngũ Visitek" class="counter">30</span>
                <h4 title="Tổng thành viên ở đội ngũ Visitek">Team member</h4>
              </div>
            </div>
          </div>
          <!-- single counter  -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Counter area -->

<div class="reviews-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h3 title="Đánh giá của khách hàng về Visitek"> Đánh giá của khách hàng</h3>
          <p>Những ý kiến của bạn sẽ góp phần phát triển công ty của chúng tôi</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="Reviews-content">
          <!-- start testimonial carousel -->
          <div class="testimonial-carousel item-indicator">
            <div class="single-testi">
              <div class="testi-text">
                <div class="clients-text">
                  <div class="client-rating">
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                  </div>
                  <p>Tôi mong rằng dịch vụ sẽ ổn cho đến khi tôi không sử dụng đến nó nữa. Cảm
                    thấy dịch vụ phù hợp với chúng tôi. </p>
                  <div class="testi-img ">
                    <div class="guest-details">
                      <h4>Edward</h4>
                      <span class="guest-rev">Khách hàng chung</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single item -->
            <div class="single-testi">
              <div class="testi-text">
                <div class="clients-text">
                  <div class="client-rating">
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                  </div>
                  <p>Là một khách hàng quen thuộc, tôi không mong gì nhiều hơn ngoài một khuyến
                    mãi đến từ công ty :D</p>
                  <div class="testi-img ">
                    <div class="guest-details">
                      <h4>Charlotte</h4>
                      <span class="guest-rev">Khách hàng V.I.P</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single item -->
            <div class="single-testi">
              <div class="testi-text">
                <div class="clients-text">
                  <div class="client-rating">
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                  </div>
                  <p>Tôi mong rằng dịch vụ sẽ ổn cho đến khi tôi không sử dụng đến nó nữa.</p>
                  <div class="testi-img ">
                    <div class="guest-details">
                      <h4>Daniel</h4>
                      <span class="guest-rev">Khách hàng chung</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single item -->
            <div class="single-testi">
              <div class="testi-text">
                <div class="clients-text">
                  <div class="client-rating">
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                    <a href="#"><i class="ti-star"></i></a>
                  </div>
                  <p>Tôi cảm thấy thích thú với sự dẫn dắt và tư vấn bên công ty. Lần đầu hợp tác
                    nhưng tôi cảm thấy dịch vụ rất ổn, hoạt động tốt, rất tin tưởng và sẽ tin
                    dùng ở công ty nay!</p>
                  <div class="testi-img ">
                    <div class="guest-details">
                      <h4>Graham</h4>
                      <span class="guest-rev">Khách hàng chung</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End testimonials end -->
{%endblock%}