{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Liên lạc</h3>
          </div>
          <ul>
            <li class="home-bread">Trang chủ</li>
            <li>Liên lạc</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- Start contact Area -->
<div class="contact-area area-padding">
  <div class="container">
    <div class="row">
      <div class="contact-inner">
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="ti-mobile"></i>
              <p>
                Tel : 0584243459
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="ti-email"></i>
              <p>
                Email : Visitekvn@gmail.com
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="ti-location-pin"></i>
              <p>
                Địa chỉ: 86 đường số 7, phường 7, khu Cityland Center Hills, Gò
                Vấp, TP.HCM
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!-- Start Map -->
        <div class="map-area">
          <div id="googleMap">
            <iframe
              style="width: 100%; height: 370px;"
              src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1586758791770!5m2!1svi!2s"
              frameborder="0"
              style="border: 0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
        <!-- End Map -->
      </div>
      <!-- Start Left contact -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="contact-form">
          <div class="row">
            <form
              id="contactForm"
              method="POST"
              action="{% url 'contact' %}"
              class="contact-form"
            >
              {% csrf_token %}
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  placeholder="Name"
                  name="name"
                  required
                  data-error="Please enter your name"
                />
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input
                  type="email"
                  name="email"
                  class="email form-control"
                  id="email"
                  placeholder="Email"
                  required
                  data-error="Please enter your email"
                />
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <input
                  type="text"
                  id="msg_subject"
                  class="form-control"
                  name="subject"
                  placeholder="Subject"
                  required
                  data-error="Please enter your message subject"
                />
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <textarea
                  id="message"
                  rows="7"
                  name="message"
                  placeholder="Massage"
                  class="form-control"
                  required
                  data-error="Write your message"
                ></textarea>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button type="submit" id="submit" class="add-btn contact-btn">
                  Send Message
                </button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Left contact -->
    </div>
  </div>
</div>
<!-- End Contact Area -->
{%endblock%}
