{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Thiết kế sản phẩm</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>

                        <li>Thiết kế sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Header -->
<!-- End services Area -->
<div class="single-services-page area-padding">
    <div class="container">
        <div class="row">
            {% include 'partials/_leftbar.html' %}
            <!-- End left sidebar -->
            <!-- Start service page -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <!-- single-well start-->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well mar-well">
                            <a href="#" title="Tại sao ban phải chọn Visitek">
                                <h3>Tại sao bạn cần phải thiết kế một website
                                    chuyên nghiệp và chất lượng?
                                </h3>
                            </a>
                            <p style="font-style: italic;">"Bạn đã thực sự hiểu về lợi ích và sức mạnh của một
                                website chuyên nghiệp và chất lượng chưa? </p>
                        </div>
                    </div>
                    <!-- End single page -->
                </div>
                <!-- end Row -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well mar-well">
                            <a href="#" title="Hiện uy tín doanh nghiệp và sự thuyết phục với khách hàng">
                                <h4>Hiện uy tín doanh nghiệp và sự thuyết phục với khách hàng.</h4>
                            </a>
                            <p>Website chính là cột mốc rất quan trọng, bạn cần thể hiện được sự Uy tín và chất
                                lượng của doanh nghiệp mình thông qua trang web được thiết kế chuyên nghiệp và chỉnh
                                chu, để thuyết phục khách hàng sử dụng sản phẩm/dịch vụ của bạn. Đừng để bao công
                                sức truyền thông, quảng cáo trở nên vô nghĩa chỉ vì một website kém chất lượng.</p>
                            <p style="font-style: italic;">
                            <ul class="marker-list">
                                <li>"Thiết kế web giá rẻ có thể không mất nhiều thời gian và chi phí ... nhưng
                                    liệu có mang lại hiệu quả cho doanh nghiệp bạn không?"</li>
                                <li>Vậy tại sao bạn không đầu tư đúng mức ngay từ đầu?</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-page mar-well">
                            <div class="page-img elec-page">
                                <img src="{% static 'img/services/service1.png' %}"
                                    alt="Hình ảnh chi tiết dịch vụ thiết kế sản phẩm">
                            </div>
                        </div>
                    </div>
                    <!-- End single page -->
                </div>
                <!-- end Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-well mar-well">
                            <a href="#" title="Dịch vụ thiết kế sản phẩm">
                                <h4>Ấn tượng đầu tiên là rất quan trọng!</h4>
                            </a>
                            <p style="font-style: italic; padding: 5px 0px; font-weight: bold;">Tạo sự khác biệt cho
                                doanh nghiệp của bạn</p>
                            <p>Website là đại diện cho doanh nghiệp của bạn trên Internet, nơi mà khách hàng sẽ nhận
                                biết và nhớ đến bạn. Sẽ không thể phủ nhận rằng thẩm mỹ và nội dung sẽ là yếu tố
                                then chốt để quyết định một người sẽ truy cập website của bạn trong bao lâu. Một
                                website với thiết kế tinh tế và độc đáo sẽ ảnh hưởng không nhỏ đến cái nhìn và niềm
                                tin của khách hàng đối với thương hiệu của bạn, tạo sự khác biệt với các đối thủ
                                khác.
                                Vậy sao bạn phải đắn đo khi đầu tư một mức phí rất nhỏ để xây dựng một website
                                chuyên nghiệp và quảng bá cho doanh nghiệp của mình? Một doanh nghiệp với một
                                website chuẩn mực là lời khẳng định cho chất lượng của sản phẩm/dịch vụ mà họ cung
                                cấp.
                            </p>
                            <ul class="marker-list">
                                <p style="font-style: italic; padding: 5px;"><strong>Liệu rằng:</strong></p>
                                <li>Website của bạn đã xứng tầm với sản phẩm, vị thế của bạn chưa?</li>
                                <li>Website của bạn đã đáp ứng được các tiêu chuẩn kỹ thuật mới nhất để chạy đua
                                    cùng các đối thủ khác chưa?</li>
                                <li>Bạn đã thực sự đầu tư đúng mức cho website của mình chưa?</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well mar-well">
                            <a href="#" title="Dịch vụ thiết kế website">
                                <h4>Dịch vụ thiết kế website</h4>
                            </a>
                            <p style="font-style: italic;">
                            </p>
                            <p>Một website chuyên nghiệp phải mang đầy đủ các công nghệ thời thượng và nắm bắt được
                                các xu hướng thiết kế cũng như các tiêu chuẩn về kỹ thuật và tìm kiếm hiện nay trên
                                thế giới.
                                Công nghệ luôn đổi mới từng ngày, chúng tôi luôn nỗ hết mình để không nằm ngoài sự
                                phát triển đó, nắm bắt những công nghệ mới nhất và những xu hướng thiết kế website
                                chuyên nghiệp nhất và hiện đại nhất nhằm mang lại những trải nghiệm tốt nhất trên
                                website của Bạn.
                                Chúng tôi không cung cấp cho bạn các dịch vụ giá rẻ, chúng tôi cũng không cạnh tranh
                                về giá với các đối thủ khác. Điều chúng tôi và bạn cần là tính hiệu quả và chất
                                lượng của website.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Quote Area -->
{%endblock%}