{% extends 'base.html' %} {% load static %} {% block content%}

<!-- Start Bottom Header -->
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Tư vấn và triển khai hệ thống</h3>
          </div>
          <ul>
            <li class="home-bread">Home</li>
            <li>Tư vấn và triển khai hệ thống</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- End services Area -->
<div class="single-services-page area-padding">
  <div class="container">
    <div class="row">
      {% include 'partials/_leftbar.html' %}
      <!-- End left sidebar -->
      <!-- Start service page -->
      <div class="col-md-8 col-sm-8 col-xs-12" id="#p-view-1">
        <div class="row">
          <div class="col-md-12">
            <div class="single-well mar-well">
              <a href="#" title="Dịch vụ tư vấn và triển khai hệ thống">
                <h4>Tư vấn và triển khai hệ thống</h4>
              </a>
              <p>
                Trong thế giới kỹ thuật số ngày nay, hệ thống công nghệ thông tin là nền tảng kết
                nối khách hàng, nhà cung cấp, lực lượng lao động và dữ liệu thông tin. Vì vậy, hệ
                thống mạng của doanh nghiệp đóng vai trò quan trọng giúp các doanh nghiệp vừa và nhỏ
                gia tăng lợi thế cạnh tranh trên thương trường.
              </p>
              <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="single-page">
                    <div class="page-img elec-page">
                      <img src="{% static 'img/services/service4.png' %}" alt="Hình ảnh tư vấn và triển khai hệ thống">
                    </div>
                  </div>
                </div>
              </div>
              <p>Tại Visitek, chúng tôi đặc biệt chú trọng tới hiệu quả. Chúng tôi cung cấp dịch vụ tư
                vấn và triển khai tích hợp nhằm giúp hệ thống CNTT của doanh nghiệp hoạt động hiệu
                quả cao hơn, tối ưu hơn và đạt được lợi nhuận cao hơn trong kinh doanh.</p>
              <ul class="marker-list">
                <li>Lắng nghe và trao đổi với khách hàng để xác định chính xác nhu cầu của khách
                  hàng và đề xuất một giải pháp hệ thống thoả mãn nhu cầu đó – trong phạm vi ngân
                  sách mà khách hàng chỉ định.</li>
                <li>Cài đặt tất cả phần cứng và phần mềm của hệ thống của doanh nghiệp. Đảm bảo rằng
                  tất cả mọi thứ được cấu hình, cài đặt một cách hoàn hảo và hoạt động thông suốt.
                </li>
                <li>Thiết lập tất cả máy chủ và máy chủ ảo hoá.</li>
                <li>Xây dựng những hệ thống an ninh bất khả xâm phạm ngăn chặn virus, phần mềm mã
                  độc, phần mềm gián điệp…</li>
                <li>Thiết lập một kế hoạch khôi phục trong trường hợp bị sự cố hệ thống và đảm bảo
                  doanh nghiệp có thể khôi phục dữ liệu trong bất kỳ tình huống sự cố nào cho dù
                  là do con người hay thiên tai.</li>
                <li>Xây dựng hệ thống mạng không dây và kết nối tất cả các thiết bị của doanh
                  nghiệp.</li>
                <li>Triển khai hệ thống cấu trúc dây cáp mạng LAN và các hệ thống modem, switch. Đảm
                  bảo các kết nối thông suốt trên toàn hệ thống.</li>
              </ul>
              <p>Với kinh nghiệm lâu năm trong việc thiết kế, triển khai và quản trị an toàn, đáng tin
                cậy và linh hoạt đối với mạng WAN, LAN và giải pháp không dây, các chuyên gia của
                Smartline sẽ giúp doanh nghiệp thành công hơn trong kinh doanh, bao gồm:</p>
              <p>Hãy liên hệ ngay với chúng tôi, chúng tôi sẽ có tất cả các giải pháp cho những gì
                doanh nghiệp của bạn cần.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}