{% extends 'base.html' %} {% load static %} {% block content%}
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Dịch vụ</h3>
          </div>
          <ul>
            <li class="home-bread">Trang chủ</li>
            <li>Dịch vụ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- Start service area -->
<div class="service-area bg-color area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">

          <h3 title="Dịch vụ chuyên nghiệp">Dịch vụ chuyên nghiệp</h3>
          <p>Giúp bạn có thể tiếp cận được với chuyên gia có khả năng và kinh nghiệm.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="all-services">
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="service-icon">
              <a title="Logo dịch vụ thiết kế sản phẩm" href="service-details.html"><span href=""
                  class="flaticon-052-project-plan"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4 href="service-details.html"><a title="Dịch vụ thiết kế sản phẩm" href="service-details.html">Thiết
                    kế sản phẩm
                  </a></h4>
                <p>Chúng tôi giúp cho sự hiện diện trực tuyến của bạn trở nên tuyệt vời.</p>
                <a title="Xem chi tiết dịch vụ thiết kế sản phẩm" class="service-btn"
                  href="service-detail-repair.html"><i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="service-icon">
              <a title="Logo dịch vụ bảo trì hệ thống" href="service-detail-repair.html"><span
                  href="service-detail-repair.html" class="flaticon-031-financial"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4><a title="Dịch vụ bảo trì hệ thống" href="service-detail-repair.html">Bảo trì hệ
                    thống</a></h4>
                <p>Hệ thống CNTT của doanh nghiệp chạy trơn tru hơn và ít khả năng bị gián đoạn.</p>
                <a title="Xem chi tiết dịch vụ bảo trì hệ thống" class="service-btn"
                  href="service-detail-repair.html"><i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-icon">
              <a title="Logo dịch vụ bảo mật hệ thống" href="service-detail-security.html"><span
                  class="flaticon-057-statistics"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4><a title="Dịch vụ bảo mật hệ thống" href="service-detail-security.html">Bảo mật
                    hệ thống</a></h4>
                <p>Hãy chắc chắn rằng doanh nghiệp của bạn đã được bảo vệ an toàn !</p>
                <a title="Xem chi tiết dịch vụ bảo mật hệ thống" class="service-btn"
                  href="service-detail-repair.html"><i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-icon">
              <a title="Logo dịch vụ tư vấn và triển khai hệ thống" href="service-detail-consult.html"><span
                  class="flaticon-012-business"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4><a title="Dịch vụ tư vấn và triển khai hệ thống" href="service-detail-consult.html">Tư vấn và
                    triển khai hệ thống</a></h4>
                <p>Giúp doanh nghiệp hoạt động hiệu quả và cuối cùng là đạt được lợi nhuận trong
                  kinh doanh.</p>
                <a title="Xem chi tiết dịch vụ tư vấn và triển khai hệ thống" class="service-btn"
                  href="service-detail-repair.html"><i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-icon">
              <a title="Logo dịch vụ IT OUTSOURCE" href="service-detail-outsource.html"><span
                  href="service-detail-outsource.html" class="flaticon-041-network"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4><a title="Dịch vụ IT OUTSOURCE" href="service-detail-outsource.html">Dịch vụ IT
                    OUTSOURCE</a></h4>
                <p>Các doanh nghiệp giao công việc liên quan tới công nghệ thông tin cho một bên thứ
                  ba cung cấp dịch vụ này.</p>
                <a title="Xem chi tiết dịch vụ IT OUTSOURCE" class="service-btn" href="service-detail-repair.html"><i
                    class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-icon">
              <a title="Logo dịch vụ quản trị hệ thống" href="service-detail-manage.html"><span
                  class="flaticon-002-analysis"></span></a>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4><a title="Dịch vụ quản trị hệ thống" href="service-detail-manage.html">Quản trị
                    hệ thống</a></h4>
                <p>Giúp loại bỏ sự khó khăn của bạn về hệ thống và để chúng tôi hỗ trợ , phát triển
                  công việc của bạn : thu hút khách hàng và phát triển công việc kinh doanh.</p>
                <a title="Xem chi tiết dịch vụ quản trị hệ thống" class="service-btn"
                  href="service-detail-repair.html"><i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
      </div>
    </div>
  </div>
</div>
<!-- End service area -->
<!-- Start Tab Area -->
<div class="tab-area fix area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tab-menu">
          <!-- Start Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a title="Dịch vụ quản trị hệ thống" href="#p-view-1" role="tab" data-toggle="tab">
                <span class="cha-title">Bảo trì hệ thống</span>
              </a>
            </li>
            <li>
              <a title="Tư vấn khách hàng" href="#p-view-2" role="tab" data-toggle="tab">
                <span class="cha-title">Tư vấn khách hàng</span>
              </a>
            </li>

          </ul>
          <!-- End Nav tabs -->
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tab-content">
          <!--Start Tab Content -->
          <div class="tab-pane active" id="p-view-1">
            <div class="tab-inner">
              <div class="single-machine row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="tabe-img">
                    <img src="{% static 'img/home/home3.png' %}" alt="Hình ảnh bảo trì hệ thống">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="machine-text">
                    <h3 title="Bảo trì hệ thống của công ty Visitek">Bảo trì hệ thống</h3>
                    <p>Bảo vệ, hạn chế tối đa những sự cố của hệ thống, điều này có thể làm tăng
                      năng suất hoạt động và lợi nhuận của khách hàng. Cảnh báo về những sự cố
                      có thể xảy ra trong một thời gian ngắn để doanh nghiệp có phương án dự
                      phòng , bảo đảm quản lý hệ thống vận hành ở hiệu suất cao nhất. Đảm bảo
                      thiết bị thay thế khi hệ thống gặp sự cố mà không khắc phục được. Phần
                      mềm được kiểm tra, backup dữ liệu và các tiện ích mới của phần mềm hệ
                      thống.</p>
                    <ul>
                      <li><a>Ý tưởng đổi mới công nghệ kinh doanh mới nhất</a></li>
                      <li><a>Tiếp thị nội dung số nền tảng khách hàng trực tuyến
                        </a>
                      </li>
                      <li><a>Dịch vụ bảo mật an toàn cho tài khoản email trực tuyến của
                          bạn</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Start Tab Content -->
          <div class="tab-pane" id="p-view-2">
            <div class="tab-inner">
              <div class="single-machine row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="tabe-img">
                    <img src="{% static 'img/home/home4.png' %}" alt="Hình ảnh tư vấn khách hàng">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="machine-text">
                    <h3 title="Tư vấn khách hàng của công ty Visitek">Tư vấn khách hàng</h3>
                    <p>Đội ngũ chuyên nghiệp trong lĩnh vực công nghệ thông tin hỗ trợ và tư vấn
                      trong việc lựa chọn công nghệ mới giúp hạn chế rủi ro trong việc đẩu tư
                      và khai thác tối đa hiệu suất của sản phẩm trong phạm vi cho phép</p>
                    <ul>
                      <li><a>Ý tưởng đổi mới công nghệ kinh doanh mới nhất</a></li>
                      <li><a>Tiếp thị nội dung số nền tảng khách hàng trực tuyến
                        </a>
                      </li>

                      <li><a>Dịch vụ bảo mật an toàn cho tài khoản email trực tuyến của
                          bạn</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Row -->
  </div>
</div>
{% endblock %}