{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->
<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Dịch vụ</h3>
          </div>
          <ul>
            <li class="home-bread">Trang chủ</li>
            <li>Dịch vụ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- Start service area -->
<div class="service-area bg-color area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h3>Dịch vụ chuyên nghiệp</h3>
          <p>
            Giúp bạn có thể tiếp cận được với chuyên gia có khả năng và kinh
            nghiệm.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="all-services">
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-icon">
              <span class="flaticon-052-project-plan"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Thiết kế sản phẩm</h4>
                <p>
                  Chúng tôi giúp cho sự hiện diện trực tuyến của bạn trở nên
                  tuyệt vời.
                </p>
                <a class="service-btn" href="service-details.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-icon">
              <span class="flaticon-031-financial"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Bảo trì hệ thống</h4>
                <p>
                  Hệ thống CNTT của doanh nghiệp chạy trơn tru hơn và ít khả
                  năng bị gián đoạn.
                </p>
                <a class="service-btn" href="service-detail-repair.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-icon">
              <span class="flaticon-057-statistics"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Bảo mật hệ thống</h4>
                <p>
                  Hãy chắc chắn rằng doanh nghiệp của bạn đã được bảo vệ an toàn
                  !
                </p>
                <a class="service-btn" href="service-detail-security.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-icon">
              <span class="flaticon-012-business"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Tư vấn và triển khai hệ thống</h4>
                <p>
                  Giúp doanh nghiệp hoạt động hiệu quả và cuối cùng là đạt được
                  lợi nhuận trong kinh doanh.
                </p>
                <a class="service-btn" href="service-detail-consult.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-icon">
              <span class="flaticon-041-network"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Dịch vụ IT OUTSOURCE</h4>
                <p>
                  Các doanh nghiệp giao công việc liên quan tới công nghệ thông
                  tin cho một bên thứ ba cung cấp dịch vụ này.
                </p>
                <a class="service-btn" href="service-detail-outsource.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-service wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-icon">
              <span class="flaticon-002-analysis"></span>
            </div>
            <div class="service-inner">
              <div class="service-content">
                <h4>Quản trị hệ thống</h4>
                <p>
                  Giúp loại bỏ sự khó khăn của bạn về hệ thống và để chúng tôi
                  hỗ trợ , phát triển công việc của bạn : thu hút khách hàng và
                  phát triển công việc kinh doanh.
                </p>
                <a class="service-btn" href="service-detail-manage.html"
                  ><i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single dervices -->
      </div>
    </div>
  </div>
</div>
<!-- End service area -->
<!-- Start Tab Area -->
<div class="tab-area fix area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tab-menu">
          <!-- Start Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#p-view-1" role="tab" data-toggle="tab">
                <span class="cha-title">Bảo trì hệ thống</span>
              </a>
            </li>
            <li>
              <a href="#p-view-2" role="tab" data-toggle="tab">
                <span class="cha-title">Tư vấn khách hàng</span>
              </a>
            </li>
          </ul>
          <!-- End Nav tabs -->
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tab-content">
          <!--Start Tab Content -->
          <div class="tab-pane active" id="p-view-1">
            <div class="tab-inner">
              <div class="single-machine row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="tabe-img">
                    <img src="../img/home/home3.png" alt="" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="machine-text">
                    <h3>Bảo trì hệ thống</h3>
                    <p>
                      Bảo vệ, hạn chế tối đa những sự cố của hệ thống, điều này
                      có thể làm tăng năng suất hoạt động và lợi nhuận của khách
                      hàng. Cảnh báo về những sự cố có thể xảy ra trong một thời
                      gian ngắn để doanh nghiệp có phương án dự phòng , bảo đảm
                      quản lý hệ thống vận hành ở hiệu suất cao nhất. Đảm bảo
                      thiết bị thay thế khi hệ thống gặp sự cố mà không khắc
                      phục được. Phần mềm được kiểm tra, backup dữ liệu và các
                      tiện ích mới của phần mềm hệ thống.
                    </p>
                    <ul>
                      <li>
                        <a href="#"
                          >Innovation idea latest business tecnology</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Digital content marketing online clients plateform</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Safe secure services for you online email account</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Innovation idea latest business tecnology</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Start Tab Content -->
          <div class="tab-pane" id="p-view-2">
            <div class="tab-inner">
              <div class="single-machine row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="tabe-img">
                    <img src="../img/home/home4.png" alt="" />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="machine-text">
                    <h3>Tư vấn khách hàng</h3>
                    <p>
                      Đội ngũ chuyên nghiệp trong lĩnh vực công nghệ thông tin
                      hỗ trợ và tư vấn trong việc lựa chọn công nghệ mới giúp
                      hạn chế rủi ro trong việc đẩu tư và khai thác tối đa hiệu
                      suất của sản phẩm trong phạm vi cho phép
                    </p>
                    <ul>
                      <li>
                        <a href="#"
                          >Innovation idea latest business tecnology</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Digital content marketing online clients plateform</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Safe secure services for you online email account</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          >Innovation idea latest business tecnology</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Start Tab Content -->

          <!--Start Tab Content -->
        </div>
      </div>
    </div>
    <!-- end Row -->
  </div>
</div>
<!-- End Tab end -->
{% endblock %}
