{% extends 'base.html' %} {% load static %} {% block content%}
<!-- Start Bottom Header -->


<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>Dịch vụ IT OUTSOURCE</h3>
          </div>
          <ul>
            <li class="home-bread">Home</li>
            <li>Dịch vụ IT OUTSOURCE</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Header -->
<!-- End services Area -->
<div class="single-services-page area-padding">
  <div class="container">
    <div class="row">
      {% include 'partials/_leftbar.html' %}
      <!-- Start service page -->
      <div class="col-md-8 col-sm-8 col-xs-12" id="#p-view-1">
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-well mar-well">
              <a href="#" title="Hãy tập trung vào chăm sóc và phát triển khách hàng, CNTT đã có Visitek">
                <h3>Hãy tập trung vào chăm sóc và phát triển khách hàng, CNTT đã có Visitek !</h3>
              </a>
              <p>Dịch vụ IT Outsource cho doanh nghiệp vừa và nhỏ là một quy trình mà các doanh nghiệp
                giao những công việc liên quan tới công nghệ thông tin cho một bên thứ 3 cung cấp.
                Nhiều doanh nghiệp vừa và nhỏ không đủ nguồn lực tài chính để thuê một nhân viên IT
                hỗ trợ, bảo dưỡng, và lên kế hoạch cho tất cả các nhu cầu cơ sở hạ tầng công nghệ
                của tổ chức.</p>
              <p>Dịch vụ IT Outsource dành cho doanh nghiệp vừa và nhỏ của Visitek bắt đầu với những
                tư vấn mang tính chiến lược về CNTT một cách thường xuyên, định kỳ như một CIO ảo
                tận tâm của chính doanh nghiệp quý vị. Các chuyên viên Visitek sẽ giám sát hệ thống
                mạng và máy chủ của doanh nghiệp nhằm đảm bảo tính hoạt động ổn định, hiệu quả và
                liên tục 24/7. Bộ phận hỗ trợ (Visitek Help Desk) luôn sẵn sàng khắc phục, giải
                quyết những thách thức CNTT mà quý doanh nghiệp và nhân viên đang gặp phải. Chúng
                tôi luôn có nhân viên ứng phó nhanh chóng, kịp thời để giải quyết những sự cố không
                thể giải quyết bằng các công cụ từ xa. Dịch vụ IT Outsource dành cho doang nghiệp
                vừa và nhỏ của Visitek giúp xử lý tất cả các vấn đề về công nghệ thông tin của doanh
                nghiệp.</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-page mar-well">
              <div class="page-img elec-page">
                <img src="{% static 'img/services/service5.png' %}" alt="Hình ảnh dịch vụ IT OUTSOURCE">
              </div>
            </div>
          </div>
          <!-- End single page -->
        </div>
        <!-- end Row -->
        <!-- end Row -->
        <div class=" row">
          <div class="col-md-12">
            <div class="single-well mar-well">
              <a href="#" title="Lợi ích của việc sử dụng dịch vụ IT Outsource dành cho doanh nghiệp">
                <h4>Lợi ích của việc sử dụng dịch vụ IT Outsource dành cho doanh nghiệp
                  vừa và nhỏ:
                </h4>
              </a>
              <ul class="marker-list">
                <li>Giảm chi phí Công Nghệ Thông Tin và đảm bảo ngân sách của doanh
                  nghiệp: hỗ trợ
                  chi phí quản trị kinh doanh của doanh nghiệp ở mức thấp nhất và cố
                  định hàng
                  tháng.</li>
                <li>Tận dụng thế mạnh CNTT, đạt được lợi thế cạnh tranh trong kinh
                  doanh: Visitek tư
                  vấn chiến lược thường xuyên, định kỳ về công nghệ thông tin giúp
                  doanh nghiệp
                  luôn được cập nhật những công nghệ mới nhất hỗ trợ hiệu quả kinh
                  doanh tối đa
                  của doanh nghiệp.</li>
                <li>Cải thiện hiệu suất hệ thống và tính sẵn sàng của các ứng dụng cốt
                  lõi: Chúng
                  tôi luôn chủ động giám sát và tối ưu hoá hệ thống giúp phát hiện và
                  khắc phục
                  các vấn đề dù là nhỏ nhất trước khi nó có thể là gián đoạn hệ thống
                  của bạn.
                </li>
                <li>Nâng cao năng suất làm việc của nhân viên: Các chuyên viên của
                  Visitek được đào
                  tạo chuyên nghiệp và bài bản, giàu kinh nghiệm làm việc có thể giải
                  quyết hơn
                  98% các vấn đề máy tính của công ty bạn bằng các công cụ điều khiển
                  chỉ trong
                  vài phút, giúp họ trở lại công việc ngay lập tức.</li>
                <li>Loại bỏ sự trì hoãn từ các nhà cung cấp công nghệ: Các chuyên viên
                  của Visitek
                  sẽ phối hợp hỗ trợ và tư vấn làm việc với các nhà cung cấp phần cứng
                  và phần mềm
                  và loại bỏ sự không tương thích giữa chúng.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Start Quote Area -->
{% endblock %}